.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 984px;
  margin: 0 auto 118px;
  width: 100%;
}

.content__description-title {
  font-family: "Inter Black", sans-serif;
  font-size: 3.375rem;
  line-height: 3.625rem;
  margin: 0 0 40px;
  max-width: 830px;
}

.content__description-quote {
  font-family: "Inter Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.125rem;
  margin: 0 0 10px;
  max-width: 738px;
}

.content__description-author {
  font-family: "Inter Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2.125rem;
  margin: 0 0 40px;
  max-width: 738px;
  text-align: end;
}

.content__description-text {
  font-family: "Inter Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  max-width: 722px;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .content__description {
    max-width: 720px;
    margin: 0 24px 64px;
  }
  .content__description-title {
    font-size: 2.8125rem;
    line-height: 3.0625rem;
    margin: 0 0 50px;
  }
  .content__description-quote {
    margin: 0 0 26px;
  }
}

@media screen and (max-width: 320px) {
  .content__description {
    max-width: 288px;
    margin: 0 16px 38px;
  }
  .content__description-title {
    font-size: 2rem;
    line-height: 2.1875rem;
  }
  .content__description-quote {
    margin: 0 0 10px;
  }
}
