.places {
  margin: 0 auto 90px;
  max-width: 987px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.places__item {
  display: grid;
  grid-template-rows: minmax(0, 152px) minmax(0, 1fr) minmax(0, auto);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 48px 40px;
  grid-template-areas:
    "title authors"
    "image description";
}

.places__item-title {
  margin: 0;
  width: 100%;
  grid-area: title;
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-family: "Inter Black", sans-serif;
}

.places__item-authors {
  grid-area: authors;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.places__authors-caption {
  font-size: 0.75rem;
  color: #aaaaaa;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin: 0 0 8px;
}

.places__authors-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.places__author-name {
  list-style-type: none;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.places__item-card {
  grid-area: image;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.places__card-image {
  width: 100%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}

.places__card-image:hover {
  opacity: 0.5;
}

.places__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 289px;
  width: 100%;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  grid-area: image;
}

.places__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.places__button-text {
  font-family: "Inter SemiBold", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

.places__button-on {
  display: none;
}

.places__button-off {
  display: flex;
}

.places__button-link {
  text-decoration: none;
  color: inherit;
}

.places__item-description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.places__description-text {
  font-size: 1.125rem;
  line-height: 1.8125rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }
  .places__item {
    grid-template-rows: minmax(0, 68px) minmax(0, 1fr);
    column-gap: 28px;
  }
  .places__item-title {
    font-size: 2.625rem;
    line-height: 2.875rem;
    display: flex;
    align-items: flex-end;
  }
  .places__description-text {
    font-size: 1rem;
    line-height: 1.8125rem;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    gap: 50px;
    margin: 0 auto 65px;
  }
  .places__item {
    grid-template-columns: minmax(0, 320px);
    grid-template-rows: repeat(5, minmax(0, auto));
    grid-template-areas: "title" "authors" "image" "description" "button";
    gap: 30px;
  }
  .places__item-title {
    max-width: 288px;
    width: 100%;
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: 0 auto;
  }
  .places__item-authors {
    max-width: 288px;
    width: 100%;
    margin: 0 auto;
  }
  .places__item-description {
    margin: 0 auto;
    width: 100%;
    max-width: 288px;
  }
  .places__card-image {
    grid-area: image;
    background-size: cover;
  }
  .places__button-off {
    display: none;
  }
  .places__button-on {
    grid-area: button;
    margin: 0 auto;
    display: flex;
  }
  .places__button-text {
    font-size: 0.875rem;
    text-align: center;
  }
}
